h1 {
    color: white;
    text-align: center;
}

body {
    background-color: gray;
}

#recipeContainer {
    text-align: center;
    color: white;
}

ul {
    display: inline-block;
    text-align: left;
}